
<%- include ("partials/header.ejs") -%>
  <h1>About</h1>
  <p><%= about %></p>
  <p>If you still not get it <a href="https://website-blog-rahul-jayant.herokuapp.com/compose">Click me</a></p>
<%- include ("partials/footer.ejs") -%>
